@(message: String)

@main("Slick Move") {

<div class="container" />
  <!-- Example row of columns -->
  <div class="row" style="margin-top: 10px;" background: #FFFFFF;>
	<div id="results">
		<div class="list-group">
		  <a href="#" class="list-group-item" data-id="1">
			<img src="@routes.Assets.at("images/MassiveHouse1.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£650,449</strong> Shannon Close, Saltney
			</h4>
			<p class="list-group-item-text">Lorem Ipsum blahdy blah blah</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="2">
			<img src="@routes.Assets.at("images/MassiveHouse2.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£749,500</strong> Bridgeway, Chester
			</h4>
			<p class="list-group-item-text">Lorem Ipsum blahdy blah blah</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="3">
			<img src="@routes.Assets.at("images/MassiveHouse3.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£250,000</strong> Withering Lane, Handbridge
			</h4>
			<p class="list-group-item-text">Lorem Ipsum blahdy blah blah</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="4">
			<img src="@routes.Assets.at("images/MassiveHouse4.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£350,000</strong> Curzon Park North, Chester
			</h4>
			<p class="list-group-item-text">Lorem Ipsum blahdy blah blah</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="5">
			<img src="@routes.Assets.at("images/Terrace1.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£170,000</strong> Church Lane, Guilden Sutton, Chester
			</h4>
			<p class="list-group-item-text">Lorem Ipsum blahdy blah blah</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="6">
			<img src="@routes.Assets.at("images/Terrace2.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£175,000</strong> Lime Wood Close, Chester
			</h4>
			<p class="list-group-item-text">Lorem Ipsum blahdy blah blah</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="7">
			<img src="@routes.Assets.at("images/Apartment1.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£275,000</strong> Pulford at Crown Fields, Chester Road, Huntington
			</h4>
			<p class="list-group-item-text">Lorem Ipsum blahdy blah blah</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	</div>
	<div id="main-content">
		<div id="house-details-1" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse1.jpg")" class="house-thumbnail"/>
			  <h2>Shannon Close, Saltney</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
		  </div>
		</div>
		<div id="house-details-2" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse2.jpg")" class="house-thumbnail"/>
			  <h2>Bridgeway, Chester</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
		  </div>
		</div>
		<div id="house-details-3" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse3.jpg")" class="house-thumbnail"/>
			  <h2>Withering Lane, Handbridge</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
		  </div>
		</div>
		<div id="house-details-4" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse4.jpg")" class="house-thumbnail"/>
			  <h2>Curzon Park North, Chester</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
		  </div>
		</div>
		<div id="house-details-5" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/Terrace1.jpg")" class="house-thumbnail"/>
			  <h2>Church Lane, Guilden Sutton, Chester</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
		  </div>
		</div>
		<div id="house-details-6" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/Terrace2.jpg")" class="house-thumbnail"/>
			  <h2>Lime Wood Close, Chester</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
		  </div>
		</div>
		<div id="house-details-7" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/Apartment1.jpg")" class="house-thumbnail"/>
			  <h2>Pulford at Crown Fields, Chester Road, Huntington</h2>
			  <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
		  </div>
		</div>
	</div>
  </div>
    <script type="text/javascript">
	$(document).ready(function() {
		$(".list-group-item").click(function() {
			var itemid = $(this).data("id");
			$("#results").hide();
			$("#house-details-" + itemid).show();
		});

		$(".back-to-results").click(function () {
			$(this).closest(".panel").hide();
			$("#results").show();
		});
	});
  </script>
}
