@(message: String)

@main("Slick Move") {

<div class="container" />
  <!-- Example row of columns -->
  <div class="row" style="margin-top: 10px;" >
	<div id="results">
		<div id="results-list" class="list-group">
		  <a href="#" class="list-group-item" data-id="1">
			<img src="@routes.Assets.at("images/MassiveHouse1.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£650,449</strong> Shannon Close, Saltney
			</h4>
			<p class="list-group-item-text">
				An outstanding townhouse in one of Chester’s most sought-after residential addresses, with exceptional river, racecourse and city skyline views.
			</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="2">
			<img src="@routes.Assets.at("images/MassiveHouse2.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£749,500</strong> Bridgeway, Chester
			</h4>
			<p class="list-group-item-text">
				A magnificent late 19th Century period property situated within the leafy private estate of Dee Hills Park, a Conservation Area and one of the city's premier residential locations.
			</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="3">
			<img src="@routes.Assets.at("images/MassiveHouse3.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£250,000</strong> Withering Lane, Handbridge
			</h4>
			<p class="list-group-item-text">
				HUMPHREYS SELECT INTRODUCES 37 Carrick Road, an attractive and skilfully extended family home which stands in a large enclosed rear garden and is situated within walking distance of Chester city centre within a prestigious tree-lined address.
			</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="4">
			<img src="@routes.Assets.at("images/MassiveHouse4.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£350,000</strong> Curzon Park North, Chester
			</h4>
			<p class="list-group-item-text">
				Offering a secluded position in a highly sought after residential area, this four bedroom detached family home offers well appointed accommodation with modern fittings and would be ideal for anyone looking for a home ready to walk into.
			</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="5">
			<img src="@routes.Assets.at("images/Terrace1.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£170,000</strong> Church Lane, Guilden Sutton, Chester
			</h4>
			<p class="list-group-item-text">
				HUMPHREYS SELECT INTRODUCE KILMOREY, which we believe to be a rare opportunity to purchase a three storey Victorian semi-detached home situated within the heart of the highly popular Hoole with plentiful parking, gardens and a detached coach house.
			</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="6">
			<img src="@routes.Assets.at("images/Terrace2.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£175,000</strong> Lime Wood Close, Chester
			</h4>
			<p class="list-group-item-text">
				HUMPHREYS SELECT INTRODUCE THE LIMES. Prominently positioned along one of Chester's most premier tree-lined locations, this wonderfully spacious architect-designed detached family home boasts four double bedrooms, the master enjoying an en-suite bathroom, and four separate reception rooms.Lime Wood Close, Chester
			</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		  <a href="#" class="list-group-item" data-id="7">
			<img src="@routes.Assets.at("images/Apartment1.jpg")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£275,000</strong> Pulford at Crown Fields, Chester Road, Huntington
			</h4>
			<p class="list-group-item-text">
				Situated in a highly regarded and sought after location within walking distance to the City centre, we are pleased to offer this spacious modern four bedroom detached family home, positioned within a exclusive development.
			</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
		</div>
	</div>
	<div id="main-content">
		<div id="house-details-1" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse1.jpg")" class="house-thumbnail"/>
			<div class="house-details-text">
			  <div class="price">£650,449</div>
			  <div>Shannon Close, Saltney</div>
			  <h4>5 bedroom detached house for sale</h4>
			  <p>
				An outstanding townhouse in one of Chester’s most sought-after residential addresses, with exceptional river, racecourse and city skyline views.
			  </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>
		<div id="house-details-2" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse2.jpg")" class="house-thumbnail"/>			
			<div class="house-details-text">
			  <div class="price">£749,500</div>
			  <div>Bridgeway, Chester</div>
			  <h4>6 bedroom detached house for sale</h4>
			  <p>
				A magnificent late 19th Century period property situated within the leafy private estate of Dee Hills Park, a Conservation Area and one of the city's premier residential locations.
			  </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>
		<div id="house-details-3" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse3.jpg")" class="house-thumbnail"/>
			  <div class="house-details-text">
			  <div class="price">£250,500</div>
			  <div>Withering Lane, Handbridge</div>
			  <h4>3 bedroom detached house for sale</h4>
			  <p>
				HUMPHREYS SELECT INTRODUCES 37 Carrick Road, an attractive and skilfully extended family home which stands in a large enclosed rear garden and is situated within walking distance of Chester city centre within a prestigious tree-lined address.
			  </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>
		<div id="house-details-4" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/MassiveHouse4.jpg")" class="house-thumbnail"/>
			  <div class="house-details-text">
			  <div class="price">£350,000</div>
			  <div>Curzon Park North, Chester</div>
			  <h4>4 bedroom detached house for sale</h4>
			  <p>
				Offering a secluded position in a highly sought after residential area, this four bedroom detached family home offers well appointed accommodation with modern fittings and would be ideal for anyone looking for a home ready to walk into.
			  </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>
		<div id="house-details-5" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/Terrace1.jpg")" class="house-thumbnail"/>
			  <div class="house-details-text">
			  <div class="price">£170,000</div>
			  <div>Church Lane, Guilden Sutton, Chester</div>
			  <h4>4 bedroom detached house for sale</h4>
			  <p>
				HUMPHREYS SELECT INTRODUCE KILMOREY, which we believe to be a rare opportunity to purchase a three storey Victorian semi-detached home situated within the heart of the highly popular Hoole with plentiful parking, gardens and a detached coach house.
			  </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>
		<div id="house-details-6" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/Terrace2.jpg")" class="house-thumbnail"/>
			 <div class="house-details-text">
			  <div class="price">£175,000</div>
			  <div>Pulford at Crown Fields, Chester Road, Huntington</div>
			  <h4>5 bedroom detached house for sale</h4>
			  <p>
				Situated in a highly regarded and sought after location within walking distance to the City centre, we are pleased to offer this spacious modern four bedroom detached family home, positioned within a exclusive development.
			  </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>
		<div id="house-details-7" class="panel panel-default" style="display:none;">
		  <div class="panel-body">
			<img src="@routes.Assets.at("images/Apartment1.jpg")" class="house-thumbnail"/>
			<div class="house-details-text">
			  <div class="price">£275,000</div>
			  <div>Lime Wood Close, Chester</div>
			  <h4>4 bedroom detached house for sale</h4>
			  <p>
				HUMPHREYS SELECT INTRODUCE THE LIMES. Prominently positioned along one of Chester's most premier tree-lined locations, this wonderfully spacious architect-designed detached family home boasts four double bedrooms, the master enjoying an en-suite bathroom, and four separate reception rooms.Lime Wood Close, Chester
			  </p>
			  <p><a class="btn btn-default back-to-results" href="#" role="button">Back to results</a></p>
			</div>
			<div class="clearfix"></div>
		  </div>
		</div>
	</div>
  </div>
  
	<script id="house-result" type="text/x-handlebars-template">
	  <a href="#" class="list-group-item" data-id="1">
			<img src="@routes.Assets.at("{{imageURL}}")" class="house-thumbnail"/>
			<h4 class="list-group-item-heading">
				<strong>£{{price}}</strong> {{address}}
			</h4>
			<p class="list-group-item-text">{{description}}</p>
			<span class="icon-right glyphicon glyphicon-chevron-right"></span>
		  </a>
	</script>
	
    <script type="text/javascript">
	$(document).ready(function() {
		$(".list-group-item").click(function() {
			var itemid = $(this).data("id");
			$("#results").hide();
			$("#house-details-" + itemid).show();
		});

		$(".back-to-results").click(function () {
			$(this).closest(".panel").hide();
			$("#results").show();
		});
	});
  </script>
}
